* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin-block: 3px;
}
#content {
  color: white;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: deepskyblue;
}
#citation {
  width: 100%;
  position: relative;
  bottom: 50px;
  padding-block: 10px;
  padding-inline: 3px;
  border-radius: 10px;
}
.citation {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.author {
  text-decoration: underline;
  font-size: 1.8rem;
  margin-top: 25px;
}
#button-generate {
  width: 100%;
  position: relative;
  bottom: 5px;
  left: 0;
  right: 0;
}
.new {
  color: rgb(5, 5, 5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  padding-block: 10px;
  padding-inline: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
  transition: 0.1s;
}
button:active {
  color: deepskyblue;
  /* background: deepskyblue; */
}

footer {
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
}
#home i {
  color: #050505;
  font-size: 2rem;
}
#tools {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
#tools i {
  color: deepskyblue;
  font-size: 2rem;
}
#favoris {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  flex: 1;
}
#favoris i {
  color: #ff0443;
  font-size: 2rem;
}
